@{
    ViewBag.Title = "Welcome";
}

<div class="slider hidden-xs">
    <ul class="rslides">
        <li><img src="~/Content/Images/starters.png" alt="" /></li>
        <li><img src="~/Content/Images/mainmeal.png" alt="" /></li>
        <li><img src="~/Content/Images/bakery.png" alt="" /></li>
        <li><img src="~/Content/Images/beverages.png" alt="" /></li>
    </ul>
</div>
<br/>

<h3 class="text-center">Click on a category below to get started</h3><br/>

<div class="row">
    
    <div class="col-md-3">
        <div class="categorywraplast">
            <a href="~/StoreFront/Index/2">
                <h2>Starters</h2>
                <img src="~/Content/Image/saladpng.png" alt=""/>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/3">
                <h2>Main meal</h2>
                <img src="~/Content/Image/mainmeal.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/4">
                <h2>Dessert &amp; Bakery</h2>
                <img src="~/Content/Image/bakery.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/1">
                <h2>Drinks</h2>
                <img src="~/Content/Image/beverages.png" alt="" />
            </a>
        </div>
    </div>
</div>